.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80vh;

  .left-img {
    height: 550px;
    width: 550px;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    padding: 20px;
    height: 540px;
    border-right: 1px solid #f1f1fb;
    padding: 0 50px;

    .error-message {
      background-color: #f5d7d7;
      padding: 10px;
      color: #c02c29;
      border-radius: 3px;
    }

    form {
      width: 360px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h1 {
        color: gray;
        margin-bottom: 20px;
      }

      label {
        color: gray;
        font-size: 18px;
      }

      input,
      textarea {
        padding: 20px;
        border: 1px solid rgb(216, 214, 214);
      }

      button {
        border: none;
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: #da3a27;
        cursor: pointer;
      }

      span {
        color: red;
        font-size: 12px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    background: #1c1c1c;
    height: 540px;
    padding: 0 50px;
  }

  h3 {
    font-weight: 500;
    margin-bottom: 10px;
    color: #cdbaa1;
  }

  .triple-e {
    font-size: 50px;

    h3 {
      &:first-child {
        color: #da3a27;
      }
    }
  }
}
