.home {
  .features {
    background-color: #131318;
    display: flex;
    justify-content: center;
    padding: 100px 0;

    .container {
      width: 1400px;
      display: flex;
      align-items: center;
      gap: 200px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &:first-child {
          flex: 2;
        }
        &:last-child {
          flex: 3;
        }
        h1 {
          font-weight: 500;
          margin-bottom: 10px;
          color: #cdbaa1;
        }

        .triple-e {
          font-size: 50px;
          margin-left: 150px;

          h1 {
            &:first-child {
              color: #da3a27;
            }
          }
        }
        p {
          font-size: 18px;
          font-weight: 300;
          color: #cdbaa1;
          line-height: 28px;
          letter-spacing: 1px;
        }
        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 18px;
          color: #da3a27;

          img {
            width: 24px;
            height: 24px;
          }
        }
        video {
          width: 720px;
        }
      }
    }
  }
}
