.wrapper {
  background-color: #131318;
  color: #f1f1f1;

  .table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 400px;
  }

  h1 {
    text-align: center;
    margin-bottom: 15px;
  }

  .table_component {
    overflow: auto;
    width: 100%;
  }

  .table_component table {
    border: 1px solid #dededf;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
  }

  .table_component caption {
    margin-top: 10px;
    caption-side: bottom;
    text-align: center;
  }

  .table_component th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 15px;
  }

  .table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
  }
}
