.messages {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    height: 650px;
    padding: 50px 0px;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    table {
      width: 100%;

      tr {
        height: 100px;

        th {
          text-align: left;
        }

        td {
          padding: 10px;

          &:first-child {
            font-weight: 500;
          }

          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
          }
        }

        button {
          background-color: #d23921;
          color: #fff;
          font-weight: 500;
          border: none;
          padding: 10px;
          cursor: pointer;
        }

        &.active {
          background-color: #1dbf730f;
        }
      }
    }
  }
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: left;

  .close-btn {
    display: flex;
    justify-content: flex-end;
  }

  .gmeet-form {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
}

.close {
  background-color: #ff5c5c;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.close:hover {
  background-color: #e60000;
}
